.ColorBox {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    margin-top: -8git px;
}

.copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background-color:rgba(255,255,255,0.3);
    font-size: 1rem;
    line-height: 30px;
    color: #fff;
    border: none;
    opacity: 0;
    
}

.ColorBox:hover .copy-button{
    opacity: 1;
}

.box-content {
    position: absolute;
    padding: 10px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    color: black;
    letter-spacing: 1px;
    font-size: 12px;
}

.see-more {
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    border: none;
    right: 0px;
    bottom: 0;
    color: #fff;
    width: 60px;
    height: 30px; 
    text-align: center;
    line-height: 30px;  
}