body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(172, 243, 243);
  padding: 0;
  /* position: relative; */
}
body:before{
  display: none;
  content: '';
  width: 60%;
  height: 90%;
  margin: 2% 2%;
  position: absolute;
  left: 0;
  top:0;
  background-image:linear-gradient(to right,white,cyan);
  background-image: url('https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}


body:after{
  content: 'Ipod';
  
  width: 250px;
  height: 80px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: cursive;
  position: absolute;
  background-color: white;
  box-shadow: 0 0px 5px 4px rgba(0,0,0,0.2);
  top:12%;
  left: 0%;
  transform:rotateZ(-45deg);

}

body:after:after{
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: red;
}

body:after:hover body:after{
  box-shadow: 0 0px 5px 4px rgba(0,0,0,0.2),inset 5px 5px 5px  rgba(0,0,0,0.1);
}


@media (min-width:700px){
  body:before{
    display: block;
    text-align: center;
  }
  body:after{
    display:flex;
  }
}